@import '../../utils/variables';

.footer-container {
    color: $primary-color !important;
    margin-top: 6rem;
    margin-bottom: 1rem;

    .icons {
        margin-left: 1rem;

        svg,
        path,
        circle,
        polygon {
            color: $primary-color !important;
            stroke: $primary-color !important;
        }

        svg {
            fill: $primary-color !important;
        }
    }

    .copyright-text {
        padding: 0 1rem;
    }
}
