@import '../../utils/variables';

.word-wrapper {
    color: $primary-color;
    font-weight: bold;
}

.secondary-text {
    color: $secondary-color;
    font-family: 'New Amsterdam', sans-serif;
}

.animation-text {
    animation: animation-colors 1s infinite;
}

@keyframes animation-colors {
    0% {
        color: $secondary-color;
    }
    50% {
        color: $primary-color;
    }
    100% {
        color: $secondary-color;
    }
}

.title-container {
    color: $primary-color;
    display: flex;
    gap: 0.5rem;
    font-family: 'New Amsterdam', sans-serif;

    &.roles-block {
        flex-direction: column;
        align-items: center;
    }
}

.name-title {
    color: $primary-color;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.job-title {
    color: $secondary-color;
}

.small-screen-animation {
    margin-top: 6rem !important;
    width: 100%;
}

.multiple-words-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .inline-words {
        display: flex;
        gap: 0.6rem;
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
    }

    .block-words {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }

    .projects-button-wrapper {
        &.inline-button {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }
}
