.change-layout {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.row-container {
    display: flex;
    flex-direction: column;
}

.about-image {
    &.image-block {
        max-width: 600px;
    }
}

.about-text {
    width: 100%;
    font-weight: normal;
}

.about-container {
    margin: 0 auto;

    background: rgb(204, 201, 220);
    background: linear-gradient(
        90deg,
        rgba(204, 201, 220, 1) 10%,
        rgba(0, 148, 198, 1) 100%
    );
}

.info-list {
    --icon-space: 1.3em;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    gap: 0.25rem;

    &.gap-enabled {
        gap: 0.5rem;
    }

    &.less-padding {
        padding-left: 2rem;
    }

    li {
        display: flex;
        gap: 0.5rem;
    }

    li:before {
        content: '\f121'; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: calc(var(--icon-space) * -1);
        width: var(--icon-space);
        font-size: 24px;
    }
}
