@import '../../../utils/variables';

.hamburger-container {
    align-items: center;

    .burger-menu {
        cursor: pointer;
        color: $primary-color !important;
    }
}

.overlay {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    z-index: 9999;
    display: visible;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: $primary-color;
    overflow-x: hidden;
    z-index: 9999;
    transition: 0.3s;
    padding-top: 2rem;

    &.open {
        right: 0;
        display: block;
        transition: 0.5s;

        .sidebar-header {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 3rem;
        }

        .list-item-wrapper {
            list-style: none;
            text-align: center;
            color: $white;
            border-bottom: 2px solid $white;
            margin: 1rem 3rem 0 3rem;

            .list-item {
                /* Underline styles */
                display: inline-block;
                position: relative;
                padding: 0.3rem 0;
                overflow: hidden;

                // /* Fade in */
                // &::after {
                //     content: '';
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 0.2rem;
                //     background-color: $secondary-color;
                //     opacity: 0;
                //     transition: opacity 300ms, transform 300ms;
                //     transform: translate3d(-100%, 0, 0);
                // }

                // /* Slide in */

                // &:hover::after,
                // &:focus::after {
                //     opacity: 1;
                //     transform: translate3d(0, 0, 0);
                // }
            }
        }
    }

    &.fullscreen {
        width: 100%;
    }

    .close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        color: $white;
        fill: $white;
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 3rem;
    }
}
