@import '../utils/variables';

.homepage-container {
    .top-arrow-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 97%;
        flex-direction: column;
        gap: 0.5rem;
        cursor: pointer;

        &.different-height {
            top: 96.5%;
        }

        .top-arrow-icon {
            transform: rotate(270deg);
            z-index: 10000;
            fill: $secondary-color;
        }

        .back-top-text {
            color: $secondary-color;
            font-weight: bold;
        }
    }
}
