@import './utils/variables';
@import 'bootstrap/dist/css/bootstrap.css';

body {
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    font-family: 'Moderustic', sans-serif;
}

.h_00 {
    font-size: 45px;
    font-weight: bold;
}
.br10 {
    border-radius: 10px;
    border-color: none;
}
.primary-color {
    background-color: $primary-color;
}
.shadowbox {
    box-shadow: 10px 10px 5px $shadow-grey;
    -moz-box-shadow: 10px 10px 5px $shadow-grey;
    -webkit-box-shadow: 10px 10px 5px $shadow-grey;
    -khtml-box-shadow: 10px 10px 5px $shadow-grey;
}
.textColor {
    color: $primary-color;
}
.marginBig {
    margin-top: 10rem;
}
.w80 {
    width: 90%;
}
.secondary-color {
    background-color: $secondary-color;
}

.bigGrid {
    transition: transform 0.2s;
    z-index: 0;
}
.bigGrid:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.05);
    z-index: 100;
    font-weight: bold;
}

.circle {
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid $primary-color;
    height: 60px;
    width: 60px;
}
.workGrid {
    width: 800px;
    height: 230px;
}
.vertical {
    height: 200px;
    border: 1px solid $primary-color;
    width: 3px;
    border-radius: 10px;
    background-color: $primary-color;
    position: relative;
    left: 50%;
}
.active {
    background-color: $primary-color !important;
    border: none !important;
}
.last {
    height: 170px !important;
}
.inputContact {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
}
.form-control {
    font-size: 16px;
}
.form-control::placeholder {
    color: $primary-color;
}
.circleButton {
    border-radius: 50%;
    background-color: $white;
    height: 100px;
    width: 100px;
    position: relative;
}
.circleButton img {
    position: absolute;
    width: 60px;
    height: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.social img {
    width: 35px;
    height: auto;
}

.githubButton {
    background-color: $primary-color;
    border-radius: 10px;
    width: 180px;
    cursor: pointer;
    position: relative;
    top: 10px;
}
