@import '../../utils/variables';

.contact-container {
    .animation-form-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .form-wrapper {
            width: 45%;
            position: relative;
            margin-bottom: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .form-container {
                width: 100%;
                max-width: 600px;
                background-color: $white;
                padding: 3rem;
                border-radius: 10px;
                border: 2px solid $primary-color;

                label {
                    color: $primary-color;
                }

                .form-control {
                    &:hover,
                    &:active,
                    &:focus {
                        border: 1px solid $primary-color;
                        box-shadow: none;
                    }
                }
            }

            .circleButton {
                border-radius: 50%;
                background-color: $white;
                height: 100px;
                width: 100px;
                position: absolute;
                top: 90%;
                left: 45%;
                border: 2px solid $primary-color;
            }

            .circleButton img {
                position: absolute;
                width: 60px;
                height: auto;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }

        .email-animation-container {
            display: flex;
            justify-content: center;

            .type-animation-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 2rem;

                .type-animation,
                .type-animation > span {
                    color: $white;
                    font-family: $secondary-font;
                    font-size: 64px;
                }

                .type-animation {
                    span {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
